<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="IAADL" Language="1033" Version="1.0.0.0" Manufacturer="DIESE" UpgradeCode="9d370cc1-013f-4fd0-9dbb-ae44f4680c7f">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Feature Id="ProductFeature" Title="IAADL" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
          <ComponentGroupRef Id="DataComponents" />
            <ComponentGroupRef Id="HeatGenerated" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
        <UI />
      
      <!-- Les raccourcis menu démarrer -->        
        <DirectoryRef Id="ApplicationProgramsFolder">
          <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="IAADL"
                      Description="IAA OPC Data Logger"
                      Target="[#FileID_IAADL_App_Executable]"
                      WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
            <Shortcut Id="UninstallProduct"
                          Name="Uninstall IAADL"
                          Description="Uninstalls IAADL"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\IAA\IAADL" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </DirectoryRef>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="IAADL" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
              <Directory Id="ApplicationProgramsFolder" Name="IAADL"/>
            </Directory>
            <Directory Id="CommonAppDataFolder">
              <Directory Id="DATAFOLDER" Name="IAADL">
              </Directory>
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
          <Component Id="ComponentID_IAADL_App_Executable" Guid="*">
            <File Id="FileID_IAADL_App_Executable" KeyPath="yes" Source="$(var.HarvestPath)\IAADL_App.exe" />
          </Component>
          <Component Guid="e2a3d7a1-3eeb-4f1b-83b3-3c0b1a85a4ec">
            <File Id='FileID_IAADL_Service_Executable' Name='IAADL_Service.exe' DiskId='1' Source="$(var.HarvestPath)\IAADL_Service.exe"  KeyPath='yes' Vital='yes'/>
            <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Name="IAADL_Service"
              DisplayName="IAADL Service"
              Description="Logging of monitored OPC Data"
              Start="demand"
              Account="LocalSystem"
              ErrorControl="normal"
              />
            <ServiceControl Id="IAADL_Service" Name="IAADL_Service" Remove="uninstall" Stop="uninstall" Wait="yes" />
          </Component>
        </ComponentGroup>
      <ComponentGroup Id="DataComponents" Directory="DATAFOLDER">
        <Component Guid="866149a7-60c7-48cd-9b44-77474e618f52">
          <File Id='FileID_IAADL_Service_Config_xml' Name='Service.Config.xml' DiskId='1' Source="..\IAADL_App\IAA_DataLogger.Config.xml"  KeyPath='yes' Vital='yes'/>
          <File Id='FileID_IAADL_App_Config_xml' Name='App.Config.xml' DiskId='1' Source="..\IAADL_App\IAA_DataLogger.Config.xml"  Vital='yes' />
        </Component>
      </ComponentGroup>      
    </Fragment>
</Wix>